*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --cardWidth: 10.9rem;
  --cardHeight: 15.8rem;
  --cardWidthBigger: 11.1rem;
  --cardHeightBigger: 16rem;
  --blue: #3545F8;
  --green: #1DE544;
  --red: #F83434;
  --yellow: #F9F716;
  --white: #FFFFFF;
  --bluePurpleGradient: linear-gradient(to right, rgb(116, 235, 213), rgb(159, 172, 230));
  --deepBlue: rgb(54, 70, 118);
  --lightGreen: #74e48b;
  --boxShadow: rgb(41, 39, 39) 0px 0px 10px;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Bangers';
  background-image: var(--bluePurpleGradient);
}

@media screen and (max-width: 1790px) {
  html {
    font-size: 90%; 
  }
}

@media screen and (max-width: 1324px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 1124px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 972px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 52%;
  }
}

@media screen and (max-width: 675px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 548px) {
  html {
    font-size: 47%;
  }
}

@media screen and (max-width: 512px) {
  html {
    font-size: 42%;
  }
}


@media screen and (max-width: 449px) {
  html {
    font-size: 36%;
  }
}

@media screen and (max-width: 358px) {
  html {
    font-size: 33%;
  }
}

@media screen and (max-width: 358px) {
  html {
    font-size: 33%;
  }
}

/* for smaller screens make the deck and discard vertical */

@media screen and (max-width: 225px) {
  html {
    font-size: 27%;
  }
}







