*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  font-size: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Bangers';
  background-image: linear-gradient(to right, rgb(116, 235, 213), rgb(159, 172, 230));
}

:root {
  --cardWidthSmall: 10.9rem;
  --cardWidth: 10.9rem;
  --cardHeightSmall: 15.8rem;
  --cardHeight: 15.8rem;
}

@media screen and (max-width: 1790px) {
  html {
    font-size: 90%; 
  }
}

@media screen and (max-width: 1324px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 1124px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 972px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 52%;
  }
}

@media screen and (max-width: 675px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 548px) {
  html {
    font-size: 47%;
  }
}

@media screen and (max-width: 512px) {
  html {
    font-size: 42%;
  }
}


@media screen and (max-width: 449px) {
  html {
    font-size: 36%;
  }
}

@media screen and (max-width: 358px) {
  html {
    font-size: 33%;
  }
}

@media screen and (max-width: 358px) {
  html {
    font-size: 33%;
  }
}

/* for smaller screens make the deck and discard vertical */

@media screen and (max-width: 225px) {
  html {
    font-size: 27%;
  }
}







